receivers:
  filelog:
    include:
      - /var/log/clickhouse-server/clickhouse-server.log
      - /var/log/clickhouse-server/clickhouse-server.err.log
    start_at: beginning
    
  hostmetrics:
    collection_interval: 5s
    scrapers:
      cpu:
        metrics:
          system.cpu.utilization:
            enabled: true
  otlp:
    protocols:
      grpc:
        endpoint: 0.0.0.0:4317
      http:
        endpoint: 0.0.0.0:4318

processors:
  batch:
    timeout: 30s
    send_batch_size: 100

exporters:
  debug:
    verbosity: detailed
  prometheus:
    endpoint: "0.0.0.0:8889" 
  otlphttp:
    endpoint: "https://otel.kloudmate.dev:4318"
    headers: 
      Authorization: x
    timeout: 5s

service:
  pipelines:
    logs:
      receivers: [otlp]
      processors: [batch]
      exporters: [otlphttp, debug]
    metrics:
      receivers: [otlp, hostmetrics]
      processors: [batch]
      exporters: [otlphttp, debug]
    traces:
      receivers: [otlp]    
      processors: [batch] 
      exporters: [otlphttp, debug]